{{#link-to 'category' category.id}}
  <div class="category-block">
    <span class="category-container"><h5 class="category image-overlay-text">{{category.name}}</h5></span>
    <img src="https://static.pexels.com/photos/68725/pexels-photo-68725.jpeg" alt="" class="list-view-image">
  </div>
{{/link-to}}
