
{{#link-to 'category' category.id}}
  <div class="category-block">
    <span class="category-container"><h5 class="category image-overlay-text">{{category.name}}</h5></span>
    <img src={{category.image}} alt="" class="list-view-image">
  </div>
{{/link-to}}
