
<div class="about-list">
  <ul>
    <li><div class="wrapper about-wrap">{{fa-icon "search" class="about-icon"}}<div class="about-item"><h3 class="about-header">Find your rental</h3><p>
      Get the item you need by searching our listings. You can search by type or brand as well as location, and further evaluate listing details like pricing and availability.
    </p></div></div></li>
    <li><div class="wrapper about-wrap">{{fa-icon "calendar" class="about-icon"}}<div class="about-item"><h3 class="about-header">Book it!</h3><p>
      Send the owner a formal reservation request by clicking the Reserve Item button. He or she will have 48 hours to respond before the request expires. You can message an owner with any questions about an item before making a reservation request.
    </p></div></div></li>
    <li><div class="wrapper about-wrap">{{fa-icon "exchange" class="about-icon"}}<div class="about-item"><h3 class="about-header">Pick up and sign off.</h3><p>
      At the start of your reservation, check that all is working well and you have everything you need. All good? Do nothing and your payment will be released to the owner in 24 hours. If there’s anything worth noting, shoot us a quick email or give us a call. (All this info will be easily accessible in your reservation confirmation emails.)
    </p></div></div></li>
    <li><div class="wrapper about-wrap">{{fa-icon "check-circle-o" class="about-icon"}}<div class="about-item"><h3 class="about-header">Drop off.</h3><p>
      Return your rental in the same condition as when you picked it up. That’s it!
    </p></div></div></li>
  </ul>
</div>
