{{#link-to 'cart'}}{{cart-icon}}{{/link-to}}
<input type="checkbox" id="menu">
<label class="menu-icon" for="menu" onclick></label>

<nav role="off-canvas">
    <ul>
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'about'}}About<{{/link-to}}</li>
        <li>{{#link-to 'policy'}}Policy{{/link-to}}</li>
        <li>{{#link-to 'index'}}Sign Up{{/link-to}}</li>
        <li>{{#link-to 'index'}}Create Listing{{/link-to}}</li>
    </ul>
</nav>
<div class="main-container">
  <div class="top-heading">
    <h1>blockShare</h1>
    <h2>find what you need | rent what you own</h2>
  </div>
    {{outlet}}
</div>
<footer>
  <p>
    Site Created by | Maldon Meehan & Sky Rousse
  </p>
</footer>
