
<div class="about-list">
  <ul>
    <li><div class="wrapper about-wrap">{{fa-icon "check" class="about-icon"}}<div class="about-item"><h3 class="about-header">Deposits & Renter Liability</h3><p>
      When creating a listing, we require you to set a deposit amount that is reflective of your gear’s value. Once a reservation is confirmed, we take 30% of that deposit from the renter's credit card and hold it until 24 hours after the successful completion of your rental.</p>
      <p>Should anything go wrong, we deduct repair costs from that held money. If damages exceed that number, we retain the right to bill your renter up to the entire deposit amount.</p>
      <p>We reserve the right to make the final call in any dispute, which is also why we also require photos and condition notes in your listings - this helps us understand what went out the door versus what came back. And if you need a backup item in the unlikely event that a rental doesn’t go as planned, we'll help source that for you as well.</p>
    </div></div></li>
    <li><div class="wrapper about-wrap">{{fa-icon "search" class="about-icon"}}<div class="about-item"><h3 class="about-header">Transparency</h3><p>
      At Sparkplug, we know a successful rental experience begins and ends with transparency. That's why we require owners to upload photos and detail the condition of a listing. We also encourage renters to communicate what they are using the item for during a reservation - whether a live gig, studio session, or simply home use.</p>
      <p>At the start of the reservation, we ask that renters and owners take a moment for a “walk around,” similar to the quick evaluation you would make at the start of a car rental. This way, you can both ensure that everything works as expected from the beginning, as well as note any cosmetic issues not detailed in the listing. Renters are encouraged to send us a quick email with anything they would like to note, so that they are not held responsible at the end of a reservation for something they did not cause.</p>
      <p>At the end of the rental process, we strongly encourage both parties to provide feedback on their experience so that future owners and renters can review each others’ ratings when deciding on a rental option.
      </p></div></div></li>
    <li><div class="wrapper about-wrap">{{fa-icon "thumbs-up" class="about-icon"}}<div class="about-item"><h3 class="about-header">Review and Confirmation</h3><p>
      An owner is never obligated to accept a rental request. We encourage you to evaluate interested renters before accepting a reservation. Check out if you have any Facebook friends in common. View their profile to get a sense of who they are. Review the reservation request for information on what they’ll be using your item for. Don’t be shy about communicating with a renter if you have specific questions about them or their plans for your item.
    </p></div></div></li>
    <li><div class="wrapper about-wrap">{{fa-icon "phone" class="about-icon"}}<div class="about-item"><h3 class="about-header">We’re Here To Help</h3><p>
      We know that sometimes things just don't work out - schedules change, gear isn’t as expected, or new needs arise. That's why our 24-hour customer service is on hand to source a backup in the event of a last minute issue with the gear or a cancellation.
    </p></div></div></li>
  </ul>
</div>
